<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX WORKING</title>
</head>
<body>
    <ul class = 'recipe'>
        <% for (let i=0; i < allRecipes.length; i++){ %>
            <li>
                <a href="/recipes/<%= allRecipes[i]._id %>"><%=allRecipes[i].title%></a>
                <a href="/recipes/<%=  allRecipes[i]._id %>/edit">Edit</a>
            </li>
         <% } %>

    </ul>
    <a href="/recipes/new"><button>Create New Recipe</button></a>
</body>
</html>