<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
    <h1>Create a New Recipe</h1>
    <form action="/recipes" method="POST">
        <label for="title">TITLE:</label><br/>
        <input type="text" name="title" id="title" placeholder="Enter Recipe Title" required/><br>
        <label for="ingredients">ingredients:</label><br/>
        <input type="text" name="ingredients" id="ingredients" placeholder="Enter Ingredients" required/><br>
        <label for="instructions">instructions:</label><br/>
        <input type="text" name="instructions" id="instructions" placeholder="Enter Intstructions" required /><br>
        <label for="cookTime">Cook Time:</label><br/>
        <input type="text" name="cookTime" id="cookTime" placeholder="Enter Cook Time " required /><br>
        <input type="submit" Value="Submit Recipe" /><br>
    </form>
</body>
</html>
