<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show WORKING</title>
</head>
<body>
    <h1><%=singleRecipe.title %> </h1>
    <p><%=singleRecipe.instructions %></p>
    <p><%=singleRecipe.cookTime %></p>
    <p><%=singleRecipe.createdAt %></p>
</body>
</html>
<!-- 

ingredients: [{ type: String }],
  instructions: { type: String, required: true },
  cookTime: { type: String, default: 0 },
  createdAt: { type: Date, default: Date.now }, -->