body {
    background-color: rgb(114, 112, 112);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin: 0;
}
.web-title {
    display: block;
    text-align: center;
    font-size: 50px;

}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 40%;
    margin: 0 auto;
}
.link {
    font-size: 20px;
}

.recipe-img {
    border-radius: 10px;
    max-width: 300px;
}