body {
    background-color: rgb(154, 152, 152);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin: 0;
}
.web-title {
    display: block;
    text-align: center;
    font-size: 50px;

}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
}
.link {
    font-size: 20px;
    margin-bottom: 40px;
}

.show-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-info2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.recipe-img {
    border-radius: 10px;
    max-width: 300px;
}
.recipe-content {
    font-size: 20px;
    color: white;
}

.span-content {
    color: rgb(222, 126, 47);
}